.navbar{
    background-color: #252525;
    padding: 0 5px !important;
    .navbar-brand{
        width: 60px;
        height: auto;
        border-radius: 50%;
       
    }
    ul{
        li{
            
            margin: 10px 20px;
            a{
                color: #FFF;
                text-decoration: none;
                text-transform: uppercase;
                padding: 5px;
                opacity: .6;
                transition: .3s ease-in-out;
                &:hover{
                    opacity: 1;
                    transition: .3s ease-in-out;
                }
            }
           
        }
        .current-menu-item{
            a{
                
                color: #FFF;
               opacity: 1;
               font-weight: bold;
               border-bottom: 5px solid #FFF;
            }
        }
    }
}

